@import "components/**";
@import "project/**";
@import "utility/**";

$gradient: linear-gradient(#e66465, #9198e5);

h1 {
  background: $gradient;
  padding: 10px 40px;
  color: white;
}

.vender-prefix {
  transform: translate(-50%, -50%);
}