@use "../mixin" as mx;

.u-sp-only {
  display: block;

  @include mx.mq("not-sp") {
    display: none;
  }
}

.u-sp-hidden {
  display: none;

  @include mx.mq("not-sp") {
    display: block;
  }
}

.u-pc-only {
  display: none;

  @include mx.mq("pc") {
    display: block;
  }
}

.u-pc-hidden {
  display: block;

  @include mx.mq("pc") {
    display: none;
  }
}