@use "../variables/color";

.c-header {
  height: 72px;
  background-color: color.$black;
  color: color.$white;
}

.c-header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-header__logo {
  font-size: 32px;
}